@import url(https://db.onlinewebfonts.com/c/4e447705f6a3ad4e6e6ec31c7c8a14aa?family=Revamped);
@import "tailwindcss";

@font-face {
  font-family: "Revamped";
  src: url("https://db.onlinewebfonts.com/t/4e447705f6a3ad4e6e6ec31c7c8a14aa.eot");
  src: url("https://db.onlinewebfonts.com/t/4e447705f6a3ad4e6e6ec31c7c8a14aa.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/4e447705f6a3ad4e6e6ec31c7c8a14aa.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/4e447705f6a3ad4e6e6ec31c7c8a14aa.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/4e447705f6a3ad4e6e6ec31c7c8a14aa.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/4e447705f6a3ad4e6e6ec31c7c8a14aa.svg#Revamped")
      format("svg");
  font-display: swap;
}

@font-face {
  font-family: "Rocket";
  src: url("/src/shared//assets/fonts/Rocketwildness-ZVMm3.ttf")
    format("truetype");
  font-display: swap;
}
@layer utilities {
  .custom-scroll {
    @apply overflow-y-auto 
      [&::-webkit-scrollbar]:w-1 
      [&::-webkit-scrollbar-track]:rounded-full 
      [&::-webkit-scrollbar-track]:bg-gray-100 
      [&::-webkit-scrollbar-thumb]:rounded-full 
      [&::-webkit-scrollbar-thumb]:bg-gray-300 
      dark:[&::-webkit-scrollbar-track]:bg-neutral-700 
      dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500;
  }
}
